* {
  box-sizing: border-box;
}

body {
  background-color: #EDF0F6;
  
}

.details-header {
  position: relative;
  height: 44px;
  text-align: center;
  line-height: 44px;
  font-size: 17px;
  color: #3D5372;
  border-bottom: 1px solid #D7DDE5;
  background-color: #fff;
}

.icon-back {
  position: absolute;
  top: 7px;
  left: 24px;
  bottom: 14px;
  width: 30px;
  height: 30px;
  background: url(../image/left_arrow.svg) no-repeat 0 6px;
}

.details-content {
  padding: 24px;
  overflow: hidden;
  background-color: #fff;
}

.details-content > div {
  float: left;
  
}

.buy-avater-img {
  margin-right: 23px;
  
  border-radius: 10px;
  overflow: hidden;
}

.buy-avater-img > img {
  width: 51.75vw;
  max-width: 530px;
}

.details-info {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 41vw;
  height: 287px;
}

.details-info > div:first-child > h1{
  margin-bottom: 15px;
  width: 100%;
  font-size: 24px;
  font-weight: normal;
  color: #000000;
}

.details-info > div:first-child > span {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: rgba(0,0,0,0.54);
}

.details-info > div:last-child > p {
  display: flex;
  align-items: flex-end;
  margin-bottom: 19px;
  font-size: 24px;
  color: #D0021B;
}

.details-info > div:last-child > p > s {
  margin-left: 12px;
  font-size: 16px;
  line-height: 30px;
  color: #C0C7D3;
}

.y-btn {
  display: block;
  width: 175px;
  height: 46px;
  background-image: linear-gradient(-216deg, #FF9944 0%, #FC6076 100%);
  border-radius: 66px;
  text-align: center;
  line-height: 46px;
  color: #fff;
  border: none;
}

.y-btn:active {
  opacity: 0.8;
}

.introduce {
  padding: 24px;
  background-color: #EDF0F6;
}

.introduce > .tab {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.tab-header {
  display: flex;
  height: 52px; 
  padding: 0 28px;
  border-bottom: 1px solid #EDF0F6;
}

.tab-header-item {
  display: block;
  margin-right: 10px;
  padding: 0 4px;
  height: 51px;
  line-height: 51px;
  font-size: 15px;
  color: #A1A9B6;
  border-bottom: 3px solid transparent;
}

.tab-header-item.active {
  color: #429855;
  border-bottom-color: #429855;
}

.tab-content-item {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 30px 79px;
}

.tab-content-item.active {
  display: flex;
}

.order-wrap {
  display: flex;
  justify-content: center;
  padding: 16px 0 ;
}

.order-wrap {
  padding-bottom: 0;
}

.order-content {
  width: 100%;
  max-width: 480px;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
}

.order-content-info {
  padding: 22px;
}

.order-text {
  margin-bottom: 20px;
  font-size: 14px;
  color: #8190A7;
}

.order-text span {
  color: #3D5372;
}

.order-wrap h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #2C2F32;
}

.info-text {
  margin-bottom: 30px;
  border-bottom: 1px solid #EDF0F6;
}

.order-mode {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #EDF0F6;
}

.order-mode > div {
  display: flex;
}

.mode-label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 206px;
  height: 64px;
}

.mode-label > .mode-border {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid #D7DDE5;
  border-radius: 5px;
} 

.mode-label > input {
  position: absolute;
  opacity: 0;
}

.mode-label > p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #647EA4;
}

.mode-label > .input-icon {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #D7DDE5;
  border-radius: 50%;
}

.mode-label > p >.mode-icon {
  display: block;
  margin-right: 12px;
  width: 32px;
  height: 32px;
  background: url(../image/pay.svg) no-repeat 0 0;
  background-size: 100%;
}

.mode-label > p > .wx {
  background-position-y: -50px;
}

.mode-label > input:checked + i {
  border-color: transparent;
  background: url(../image/checked.svg) no-repeat;
  background-size: 100%;
}

.mode-label > input:checked + i + span {
  box-shadow: 0 2px 4px 0 rgba(88,119,148,0.24);
}

.settlement > .order-text {
  display: flex;
  justify-content: space-between;
}

.order-btn {
  display: block;
  width: 480px;
  height: 60px;
  font-size: 18px;
  text-align: center;
  line-height: 60px;
  color: #FFFFFF;
  background: linear-gradient(-222deg, #F09819 0%, #FF5858 96%);
}

.order-btn:active {
  opacity: .8;
}

.flexd-wrap {
  position: fixed;
  display: none;
  align-items: center;
  height: 60px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255,0.9);
  z-index: 999;
}

.flexd-wrap.show {
  display: flex;
}

.flexd-wrap .order-btn {
  display: block;
  width: 20vw;
}

.flexd-wrap-text {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 78vw;
  color: #000000;
}

.flexd-wrap-text > h2 {
  font-size: 18px;
}

.flexd-wrap-text > p {
  font-size: 18px;
  color: #D0021B
}

.flexd-wrap-text > p > s {
  margin-left: 15px;
  font-size: 14px;
  color: #C0C7D3
}



@media screen and (max-width: 750px) {
  .details-content {
    height: auto;
  }
  .buy-avater-img {
    margin-right: 0;
  }
  .buy-avater-img > img,.details-info {
    width: 100%;
  }
  .details-info {
    justify-content: space-around;
    height: auto;
  }

  .details-info > div:first-child > h1 {
    font-size: 20px;
    overflow: auto;
    white-space: inherit;
  }
  .details-info > div > p {
    justify-content: center;  
  }
  .details-info .y-btn {
    margin: 0 auto;
  }
  .introduce {
    padding: 0;
    padding-top: 25px;
  }
  .introduce > .tab {
    border-radius: 0;
  }
  .tab-content-item {
    padding: 30px 0;
    padding-bottom: 70px;
  }
  .introduce-content {
    padding: 0 20px;
    width: 100%;
  }
  .introduce-content img {
    width: 100%;
  }

  .order-btn {
    width: 100%;
  }

  .flexd-wrap .order-btn {
    width: 24vw
  }

  .flexd-wrap-text {
    padding: 0 10px
  }
  .flexd-wrap-text > h2 {
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .flexd-wrap-text > p {
    font-size: 14px;
  }
  .flexd-wrap-text > p > s {
    font-size: 12px;
  }
  
}