@import './variable/variable';
@import './mixin/mixin';

.mt0 {
  margin-top: 0;
}

.mt10 {
  margin-top: 10;
}

.mt15 {
  margin-top: 15px;
}
.bg_color {
  background-color: #f7f7f9;
}

.mod_button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 15px;
  color: #13ce66;
  &:active {
    color: lighten($color:#13ce66, $amount: 10%)
  }
  &.white {
    background: #fff;
    &:active {
      background-color: lighten($color:#ccc, $amount: 10%)
    }
  }
  &.full {
    width: 100%;
  }
}

// m_wrap

.m_wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

// body
.m_body {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 0;
  right: 0;
  & > .content {
    padding-bottom: 10px;
  }
}


// 动画

.go-enter-active, .go-leave-active {
  transition: all .3s
}
.go-enter, .go-leave-to /* .fade-leave-active 在低于版本 2.1.8 中 */ {
  transform: translateX(100%)
}

.back-enter-active, .back-leave-active {
  transition: all .3s
}
.back-enter, .back-leave-to /* .fade-leave-active 在低于版本 2.1.8 中 */ {
  transform: translateX(-100%)
}

.bottom-top-enter-active, .bottom-top-leave-active {
  transition: all .3s
}
.bottom-top-enter, .bottom-top-leave-to /* .fade-leave-active 在低于版本 2.1.8 中 */ {
  transform: translateY(100%)
}

.scale-enter-active, .scale-leave-active {
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.scale-enter, .scale-leave-to /* .fade-leave-active 在低于版本 2.1.8 中 */ {
  transform: scale(0);
  opacity: 0;
}
