$green_color: #13ce66;


/* 第三方iconfont */

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/* end */

.y-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 142px;
  height: 29px;
  border: 1px solid #4A90E2;
  border-radius: 60px;
  font-size: 13px;
  color: #4A90E2;
}

/* 公共配置 start*/
body {
  overflow-y: auto;
  background-color: #f7f7f9;
  color: #333;
}

.mt10 {
  margin-top: 8px;
  & > div {
    margin-top: 8px;
  }
}

.mt15 {
  margin-top: 15px;
}

.full-btn {
  width: 100%;
  background-color: #fff;
}

.bg-gray {
  background-color: #f2f1f1;
}

.weui-cell_access .weui-cell__ft:after {
  height: 10px;
  width: 10px;
}

.y-list {
  margin-top: 10px;
  padding: 0;
  background-color: #fff;
  .mu-item-wrapper {
    border-bottom: 1px #f2f1f1 solid;
  }
  .list-right {
    position: relative;
    color: rgb(180, 179, 179);
    display: flex;
    align-items: center;
    .file-input {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
  .mu-item-right {
    width: auto;
  }
}


/* end */


/* 头部bar start */



.header-bar  {
    height: 56px;
    padding: 0;
    position: relative;
    background-color: #fff;
    box-shadow: none;
    border-bottom: 1px #e7e7e7 solid;
    color: #333;
    .mu-appbar-title {
        display: flex;
        justify-content: center;
        align-items: center;

        .home-header-logo {
            width: 70px;
        }
    }
    .mu-icon {
      color: #333;
      font-size: 24px;
    }
    .absolute {
      left: 50%;
      top: 50%;
      position: absolute;
      text-align: center;
      transform: translate(-50%, -50%);
    }
    .border-radius {
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        font-size: 14px;
        border-radius: 10px;
      }
    }

}

.home-header {
  position: fixed;
  left: 0;
  top: 0;
}

/* end */


/* 内容部分 start */

.y-mobile-content {
    margin-top: 56px;
    height: calc(100vh - 112px);
}

.user-content {
  padding-top: 0;
  min-height: calc(100vh - 170px);
}

.height {
  height: calc(100vh - 56px);
}
/* end */


/* 底部bar start */

.footer-bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border-top: 1px #e7e7e7 solid;
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      width: 80px;
      height: 80px;
      border: 1px #ccc solid;
      border-radius: 50%;
      background-color: #fff;
      transform: translate(-50%, -20%);
    }
    .center-icon .mu-icon{
      transform: translateY(-30%);
    }
}


/* end */


/* 内容块 */

.content-block {
    margin-bottom: 15px;
    background-color: #fff;
    border-top: 1px #f7f5f5 solid;
    border-bottom: 1px #e2dede solid;
}


/* end */


/* 首页分类列表 start */
.gn-list {
  padding: 0 4vw;
  padding-bottom: 15px;
}
.gn-list-item {
  margin: 0 4vw;
  margin-top: 15px;
  display: inline-block;
  width: 15vw;
  font-size: 12px;
  text-align: center;
  .gn-list-icon {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 15vw;
    font-size: 30px;
    border-radius: 50%;
    border: 1px solid #e2dede;
  }
}

.gn-list-flex {
  display: flex;
  justify-content: space-around;
}


/* end */

/* 首页直播内容列表 start */
.live-list {
  margin-bottom: 15px;
  background-color: #fff;
  border-top: 1px solid #e2dede;
  border-bottom: 1px solid #e2dede;
  .live-list-head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #e2dede solid;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 15px;
    a {
      color: #ccc;
    }
  }
  .live-list-content {
    box-sizing: content-box;
    position: relative;
    padding: 0 15px;
    font-size: 12px;
    color: #CCCCCC;
    .live-list-item {
      display: inline-block;
      width: 100%;
      margin-bottom: 15px;
    }
    .live-list-img > img {
      width: 100%;
    }
    .live-list-title {
      display: flex;
      font-size: 14px;
      span {
        color: #00CC66;
        margin-right: 5px;
      }
      p {
        width: 85%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #333;
      }
    }
  }
}

/* end */

/* 视频播放页 */
.live-play {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.live-video {
  width: 100vw;
  height: 0.46 * 100vw;
  overflow: hidden;
  position: relative;
  .out-bar {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 5px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, .5);
    color: #333;
    transition: all .5s;
  }
  .out-bar.show {
    opacity: 1;
  }
  video {
    width: 100vw;
  }
}
.live-play-list {
  flex: 1;
  overflow-y: auto;
  background-color: #fff;
  .title {
    padding: 10px 0;
    font-size: 16px;
    padding-left: 15px;
    border-bottom: 1px solid rgb(226, 226, 226);
    color: rgb(184, 183, 183);
  }
  .mu-list {
    padding: 0;
  }
  .mu-item-wrapper > div {
    border-bottom: 1px solid rgb(226, 226, 226);
  }
}
/* end * /

/* 公开课列表 start */
.open-class-num{
    padding: 5px;
    color: #999;
  }

.open-class-item {
  margin-bottom: 15px;
  background-color: #fff;

  .open-class-img{
    position: relative;
    height: 45vw;
    overflow: hidden;
    img {
      width: 100%;
    }
    .open-class-message {
      position: absolute;
      left: -5px;
      top: 15px;
      padding: 5px 15px;
      padding-left: 20px;
      background-color: rgba(255, 255, 255, .7);
      font-size: 12px;
      text-align: center;
      border-radius: 5px;
    }
    .open-class-play {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 60px;
      height: 60px;
      transform: translate(-50%, -50%);
      background: url('/static/image/mobile/u976.png');
      background-size: 100%;
      &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 29px;
        height: 38px;
        transform: translate(-50%, -50%);
        background: url('/static/image/mobile/u978.png');
      }
    }
  }
  .open-class-text {
    padding: 5px;
    font-size: 16px;
  }
}
/* end */

/* 用户个人中心 */
.m-user-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  background: url('/static/image/mobile/u1163.png') no-repeat;
  color: #fff;
  .set-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 26px;
  }
  .avater {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
    border: 3px #fff solid;
    border-radius: 50%;
    transform: translate(-100%, -50%);
    z-index: 9;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .user-info {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 10px 15px;
    padding-left: 30px;
    text-align: left;
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(0, 0, 0, .4);
    transform: translate(-20%, -50%);
  }
}

.user-list {
    .user-list-title {
      margin-bottom: 10px;
      display: block;
      text-align: center;
      width: 74px;
      height: 24px;
      font-size: 12px;
      color: #fff;
      line-height: 24px;
      background: url('/static/image/mobile/u1204.png') no-repeat;
    }
    .user-list-title.blue {
      background: url('/static/image/mobile/u1219.png') no-repeat;
    }
    .user-list-title.pink {
      background: url('/static/image/mobile/u1234.png') no-repeat;
    }
    .user-list-content {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      margin-top: 10px;
      font-size: 12px;
      color: #ccc;
      background-color: #fff;
    }
    .user-list-img {
      width: 56%;
      height: 90px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .user-list-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      margin-left: 10px;
      .title {
        font-size: 14px;
        color: #333;
      }
      .teacher {
        display: flex;
        align-items: center;
        .avater {
          width: 24px;
          height: 24px;
          margin-right: 10px;
        }
      }
    }
  }

.user-content {
  .weui-cells {
    margin-top: 0;
  }
}

  .kf-phonenum {
    margin-top: 15px;
    padding: 10px 0;
    text-align: center;
  }

.userInfo-avater {
  .mu-item-wrapper {
    height: 92px;
    & > div {
      padding-top: 20px;
    }
  }
  img {
    width: 80px;
    height: 80px;
    border: 3px rgb(230, 229, 229) solid;
    border-radius: 50%;
  }
}

/* end */

/* 试卷相关样式 start */
.paper-info {
  padding-top: 20px;
  background-color: #fff;
  h2 {
    margin: 15px auto;
    width: 80%;
    font-size: 20px;
    text-align: center;
  }
  .paper-info-list {
    padding: 20px 40px;
    .paper-info-item {
      margin-bottom: 5px;
      color: #717881;
    }
  }
  .paper-btn {
    padding: 0 20px;
  }
}

.paper {
  background-color: #fff;
  height: 100vh;
  overflow: hidden;
  .paper-content {
    height: calc(100vh - 56px);
    overflow-y: auto;
  }
  .paper-title {
    display: flex;
    padding: 20px 10px;
    & > span {
      margin-right: 10px;
      display: block;
      width: 22px;
      height: 22px;
      background-color: $green_color;
      color: #fff;
      border-radius: 50%;
      text-align: center;
      line-height: 22px;
    }
    .paper-title-content {
      width: 85%;
      color: #4e5661;
      font-size: 16px;
    }
  }
  .paper-answer {
    margin-left: 40px;
    margin-bottom: 30px;
    color: #606771;
    .answer-label {
      margin-bottom: 15px;
      .answer-content {
        display: flex;
        & > div {
          display: flex;
          width: 80%;
          table-layout:fixed;
          word-break: break-all;
          overflow:hidden;
          align-items: center;
          margin-left: 5px;
        }
      }
    }
  }
  .child-qustion > .paper-answer {
    margin-left: 10px;
  }
  .paper-next-button {
    position: fixed;
    bottom: 10%;
    right: 20px;
  }
}

.paper-list {
  .paper-list-title {
    span {
      display: inline-block;
      position: relative;
      margin-right: 10px;
      padding-left: 25px;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #ccc;
        transform: translateY(-50%);
      }
    }
    .yd::before {
      background-color: $green_color;
    }
    .cw::before {
      background-color: #FF0000;
    }
  }
  .paper-item {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    &:nth-child(6n) {
      margin-right: 0;
    }
  }
  .mu-raised-button {
    height: 30px;
    min-width: 30px;
  }
  .mu-raised-button-label {
    padding: 0;
  }
}

.paper-result {
  background-color: #fff;
  .paper-item {
    &:nth-child(6n) {
      margin-right: 10px;
    }
  }
  .result-title {
    font-size: 16px;
    padding: 15px 10px;
    border-bottom: 1px rgb(230, 229, 229) solid;
  }
  .result-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #999;
    border-bottom: 1px rgb(230, 229, 229) solid;
    .red {
      color: #FF0000;
      font-size: 20px;
      font-weight: bold;
    }
  }
  .result-list > ul {
    padding: 10px 20px;
    padding-bottom: 20px;
  }
  .paper-list-title {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
/* end */

